<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        html, body, #mapid, .container, .pb-3 {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            /*font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;*/
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - nCov1.0</title>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="~/js/leaflet-heatmap.js"></script>

</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
