@page
@model IndexModel
@{
    ViewData["Title"] = "";
}
<div class="container">
    <div class="mapid" id="mapid" style="">
    </div>

    <div class="overlay" style="">
        <img id="heatmapButton" src="~/Images/placewithoutheatmap.JPG"
             style=""
             onclick="heatmaponoffchange()" />
    </div>
    <div class="search" style="">
        <input type="text" id="searchEntry" style="">
        <button class="searchbtn" style="" onclick="myFunction()">
            Search
        </button>
    </div>
    <div id="Data" class="dropdown" style="">
        <label id="totalcases" style="">
            Total Cases
        </label>

    </div>
</div>
<script src="~/js/site.js"></script>
